*.swp
*.swo
*~
.DS_Store

# Laravel Backend
Backend/vendor/
Backend/.env
Backend/storage/*.key
Backend/storage/logs/
Backend/storage/framework/cache/*
Backend/storage/framework/sessions/*
Backend/storage/framework/views/*
Backend/bootstrap/cache/*
Backend/.phpunit.result.cache
Backend/composer.lock

# Frontend
Frontend/node_modules/
Frontend/dist/
.vscode/

# Database
*.bak
Database/*.log

# Docker
.docker/
docker-compose.override.yml
composer.phar
